<launch>
  <rosparam file="$(find ransac_corridor_control)/yaml/config.yaml"/>
  <node pkg="ransac_corridor_control" type="bisector_node" name="bisector" output="screen"/>
  <node pkg="ransac_corridor_control" type="control_node" name="control" output="screen"/>
  <node pkg="ransac_corridor_control" type="filter_node.py" name="filter" output="screen"/>
</launch>